@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*pra fonte BEBAS no fonte-destaque*/

@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}
/*
#c5ebd6 (verde + claro)
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e (verde + escuro)
*/

:root { /*vale pra TODO documento. da pra criar variaveis, as quais possuem  "--"*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', sans-serif;
}

*{ /*SELETOR UNIVERSAL - PRA TODOS ELEMENTOS*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    }

a.externo::after{
    content: '\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.685);
    }
header p{
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.685);
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px;
}
nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
    }
nav a:hover{
    background-color: var(--cor2);
    color:var(--cor5) ;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h1 {
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
    font-family: var(--fonte-android);
}
main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.2em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}
main p {
    margin: 15px 0px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}
main strong {
    color: var(--cor4);
    font-weight: bold;
    }
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    color: var(--cor3);
    text-decoration: underline;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

.video{ /*ou pode ser 'div.video'*/
    background-color: var(--cor5);
    padding: 20px;
    margin: 0px -20px 30px -20px;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.349);
}
aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type: '\1F5F8\00A0\00A0'; /*00A0 é o espaço */  
    list-style-position: inside; /*pra bolinha ficar pro lado de dentro*/
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}